/* not prefixed with #ds-plugin for styling outside settings pages */
.icon-action {
	max-width: 16px;
	max-height: 16px;
	cursor: pointer;
}

.edit-comments-php .icon-action {
	max-width: 12px;
	max-height: 12px;
	vertical-align: middle;
}

/* prefixed with #ds-plugin for styling inside settings pages only */
body.dam-spam {
	background: #111;
}

body.dam-spam .wrap > div.notice {
	border-width: 0 0 0 4px;
	background: #000;
}

#ds-plugin, #ds-plugin * {
	box-sizing: border-box;
	transition: all 0.5s ease;
}

#ds-plugin, #ds-plugin h2, #ds-plugin h3, #ds-plugin h4, #ds-plugin h5, #ds-plugin h6, #ds-plugin p {
	color: #fff;
}

#ds-plugin h1, #ds-plugin a {
	color: #c6ac40;
}

#ds-plugin p {
	font-size: 15px;
}

#ds-plugin hr {
	border-color: #333;
}

#ds-plugin img {
	margin-right: 5px;
}

#ds-plugin ul, #ds-plugin ol {
	margin: 30px 0 30px 60px;
}

#ds-plugin ul ul, #ds-plugin ol ol, #ds-plugin ul ol, #ds-plugin ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

#ds-plugin ol {
	list-style: decimal outside;
	list-style-type: decimal-leading-zero;
	margin-left: 70px;
}

#ds-plugin ul li {
	list-style-type: '— ';
}

#ds-plugin li {
	line-height: 125%;
	margin: 20px 0;
}

#ds-plugin input, #ds-plugin textarea, #ds-plugin select, #ds-plugin option {
	color: #ccc;
	border: 2px solid #333;
	outline: 0;
	margin-bottom: 5px;
	background: #333;
}

#ds-plugin input:focus, #ds-plugin textarea:focus {
	border: 2px solid #c6ac40;
}

#ds-plugin input[type="text"] {
	max-width: 400px;
}

#ds-plugin input:disabled, #ds-plugin input:disabled *, #ds-plugin #check_form:checked + #check_wooform, #ds-plugin #check_form:checked + #check_wooform *, #ds-plugin #check_form:checked + #check_gvform, #ds-plugin #check_form:checked + #check_gvform *, #ds-plugin #check_form:checked + #check_wpform, #ds-plugin #check_form:checked + #check_wpform * {
	color: gray !important;
	border-color: gray !important;
	background: gray !important;
	opacity: 0.5 !important;
	cursor: not-allowed !important;
	pointer-events: none !important;
}

#ds-plugin textarea {
	width: 100% !important;
	max-width: 500px !important;
}

#ds-plugin select.ds-small-dropbox{
	vertical-align: baseline;
}

#ds-plugin #ds-input {
	width: 170px !important;
	max-width: 170px !important;
}

#ds-plugin #ds-head {
	font-size: 30px;
	font-weight: bold;
}

#ds-plugin .ds-subhead, #ds-plugin .ds-subhead2 {
	color: #aaa;
	font-size: 20px !important;
	font-weight: 500;
}

#ds-plugin .ds-subhead2 {
	font-size: 16px;
}

#ds-plugin .ds-subhead div.container {
	padding: 5% 0;
}

#ds-plugin .keyhead {
	display: block;
	font-size: 16px !important;
}

#ds-plugin div.mainsection {
	font-size: 18px;
	font-weight: bold;
	color: #eae4ca;
	margin: 30px 0 15px;
}

#ds-plugin .ds-info-box {
	background: #222;
	width: 100%;
	padding: 0.1em 1.5em 1.5em;
	margin: 20px 0;
	box-sizing: border-box;
}

#ds-plugin .ds-small-box {
	width: 35px;
	text-align: center;
	display: initial !important;
}

#ds-plugin .stat-box {
	padding: 5px 10px;
	background: #222;
	margin: 5px;
	border-radius: 2;
	float: left;
}

#ds-plugin .postbox {
	border-color: #333;
	background: #222;
}

#ds-plugin .postbox .inside {
	padding-bottom: 0;
}

#ds-plugin #ds-table {
	width: 100%;
	background: #222;
}

#ds-plugin tr {
	background: #c6ac40;
}

#ds-plugin td {
	padding: 10px;
	background: #222;
}

#ds-plugin .filterhead {
	cursor: pointer;
}

#ds-plugin th.ds-cleanup {
	position: sticky;
	top: 32px;
	background: #c6ac40;
	text-transform: uppercase;
	color: #fff;
}

#ds-plugin .ds-cleanup-tr:hover {
	background: #222 !important;
}

#ds-plugin .phpinfodisplay table {
	width: 100%;
}

#ds-plugin .button-primary {
	font-size: 14px;
	color: #000;
	font-weight: 500;
	padding: 5px 15px;
	border-color: #c6ac40;
	background-color: #c6ac40;
}

#ds-plugin .button-primary:hover, #ds-plugin .button-primary:focus {
	opacity:0.8;
}

#ds-plugin #php-info.button-primary {
	display: block;
	text-align: center;
	margin: 0 auto;
}

#ds-plugin .center {
	text-align: center;
}

#ds-plugin .nav-tab-wrapper, #ds-plugin .wrap h2.nav-tab-wrapper, #ds-plugin h1.nav-tab-wrapper {
	border-color: #000;
}

#ds-plugin .nav-tab {
	color: #fff;
	border-color: #000;
	background: #000;
}

#ds-plugin .nav-tab-active {
	background: #333;
}

/* checkbox toggle switch */
#ds-plugin div.checkbox.switcher label,
#ds-plugin div.radio.switcher label {
	padding: 0;
}

#ds-plugin div.checkbox.switcher label *,
#ds-plugin div.radio.switcher label * {
	vertical-align: middle;
}

#ds-plugin div.checkbox.switcher label input,
#ds-plugin div.radio.switcher label input {
	display: none;
}

#ds-plugin div.checkbox.switcher label input + span,
#ds-plugin div.radio.switcher label input + span {
	position: relative;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	margin-right: 4px;
	width: 45px;
	height: 22.5px;
	background: #d9534f;
	border: 1px solid #d43f3a;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

#ds-plugin div.checkbox.switcher label input + span small,
#ds-plugin div.radio.switcher label input + span small {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
	background: #fff;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	left: 0;
}

#ds-plugin div.checkbox.switcher label input:checked + span,
#ds-plugin div.radio.switcher label input:checked + span {
	background: #5cb85c;
	border-color: #4cae4c;
}

#ds-plugin div.checkbox.switcher label input:checked + span small,
#ds-plugin div.radio.switcher label input:checked + span small {
	left: 50%;
}

#ds-plugin div.checkbox.switcher label input + span small:before,
#ds-plugin div.radio.switcher label input + span small:before {
	content: 'Off';
	position: absolute;
	top: 4.5px;
	left: 24px;
	width: 26px;
	height: 26px;
	border-radius: 90px;
	transition: 0.3s;
	color: #fff;
}

#ds-plugin div.checkbox.switcher label input:checked + span small:before,
#ds-plugin div.radio.switcher label input:checked + span small:before {
	content: 'On';
	left: -17px;
}

#ds-plugin div.checkbox.switcher label input:disabled + span {
	color: gray !important;
	background: gray !important;
	border-color: gray !important;
	opacity: 0.5 !important;
	cursor: not-allowed !important;
	pointer-events: none !important;
}

#ds-plugin div.checkbox.switcher label:active:after {
	width: 60px;
}

/* responsive layout */
@media(max-width: 680px) {

	#ds-plugin th.ds-cleanup {
		top: 48px;
	}

}

/* ds firewall */
.column-created, .column-duration {
	width: 10%;
}

.column-code, .column-created, .column-postdata, .column-state {
	width: 8%;
	font-family: inherit;
}

.ds-firewall-hidden {
	display: none;
}

.type-ds-firewall td {
	height: 100%;
	position: relative;
	padding-bottom: 24px;
}

.type-ds-firewall .label {
	top: -2px;
	left: 0;
	width: 4px;
	height: 100%;
	display: inline-block;
	position: absolute;
	background: #0ee162;
}

.type-ds-firewall .label.blacklisted_1 {
	background: #d54e21;
}

.type-ds-firewall .column-state .blocked, .type-ds-firewall .row-actions .block {
	color: #bc0b0b;
}

.type-ds-firewall .column-state .authorized, .type-ds-firewall .row-actions .unblock {
	color: #006505;
}

input#ds_firewall_delete_all {
	float: right;
	margin: 1px 0 0 16px;
}